<br>
  <div class="row" style="background-color:#007cbb;">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          
           
            
          
           
              <clr-icon shape="envelope"></clr-icon>
             <a href="mailto:contact@lebonevenement.fr" target="_top" style="color:floralwhite;">contact@lebonevenement.fr</a>
          
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          
            <clr-icon shape="mobile"></clr-icon>
            <a href="#" target="_top" style="color:floralwhite;">+33 06 64 97 31 33</a>
           
        
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          
           
          <clr-icon shape="map-marker"></clr-icon><a href="#" target="_top" style="color:floralwhite;">Bourg La reine, Région Ile de france, France</a>
          
       
        
      
    </div>
  </div>
  <!--
<p>
    <div class="col-md-4 col-xl-3 text-center">
        <ul class="list-unstyled">
          <li>
            <clr-icon shape="map-marker"></clr-icon>
            <p>San Francisco, CA 94126, USA</p>
          </li>

          <li>
            <clr-icon shape="mobile"></clr-icon>
            <p>+ 01 234 567 89</p>
          </li>

          <li>
            <clr-icon shape="envelope"></clr-icon>
            <p>contact@mdbootstrap.com</p>
          </li>
        </ul>
      </div>
</p>
-->